name: Code Analysis

on:
    pull_request: null
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    code_analysis:
        strategy:
            fail-fast: false

            matrix:
                operating-system:
                    - "ubuntu-24.04"

                php-version:
                    - "8.2"
                    - "8.3"
                    - "8.4"
                    - "8.5"

        runs-on: "${{ matrix.operating-system }}"

        steps:
            # https://github.com/actions/checkout
            -   uses: actions/checkout@v6

            # see https://github.com/shivammathur/setup-php
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    coverage: none

            # composer install cache - https://github.com/ramsey/composer-install
            -   uses: ramsey/composer-install@v3
                with:
                    composer-options: "--prefer-dist --no-scripts"

            -
                name: 'Composer Validate'
                run: composer validate --ansi

            -
                name: 'Run "measure" command'
                run: |
                    bin/lines measure src --ansi
                    bin/lines measure src --json --longest --ansi

            -
                name: 'Run "features" command'
                run: |
                    bin/lines features src --ansi

            -
                name: 'Spot unused classes'
                run: vendor/bin/class-leak check src tests --skip-path="Fixture"

            -
                name: 'PHPStan'
                run: vendor/bin/phpstan analyze --ansi

            -
                name: 'Coding Standard'
                run: vendor/bin/ecs check --fix --ansi

            -
                name: 'Tests'
                run: vendor/bin/phpunit
